.active::before {
  content: "";
  width: 15px;
  height: 50px;
  left: -8px;
  position: absolute;
  background: theme("colors.tertiary");
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

@media not all and (min-width: 1024px) {
  .active::before {
    position: absolute;
    rotate: 90deg;
    height: 100%;
    left: unset;
    bottom: -32px;
  }
}
